@model Domain.Students

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Students</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.academicterm.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.academicterm.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guardian.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guardian.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaststName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaststName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthPace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthPace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalityID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateOfOriginID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateOfOriginID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGAOfOriginID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGAOfOriginID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryModeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryModeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateAdmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAdmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassAdmittedID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassAdmittedID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentClassID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentClassID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryOfResidenceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryOfResidenceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateOfResidenceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateOfResidenceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGAOfResidenceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGAOfResidenceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfResidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
