@model IEnumerable<Domain.Students>

@{
    ViewBag.Title = "ViewStudents";
}

<div class="top-nav-left">
    <ul>
        <li class="active"><a href="index.html">Create Student</a></li>
        <li><a href="about.html">View Students</a></li>
        <li><a href="services.html">Upload Students</a></li>
        <li><a href="gallery.html">Assign Class</a></li>


    </ul>
</div>

<div class="clear"></div>

<div class="proheader">View Guardian</div>
<div class="site-form theforms">
    <table class="ListTable" cellpadding="0" cellspacing="0">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.academicterm.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.guardian.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaststName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateOfOriginID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.HomeTown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryModeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdmissionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateAdmitted)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.CurrentClassID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AddressLine1)
            </th>


            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.academicterm.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.guardian.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaststName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherNames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Religion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationalityID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateOfOriginID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HomeTown)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryModeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdmissionNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateAdmitted)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentClassID)
                </td>

                
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine1)
                </td>
                
                <td>
                    @Html.ActionLink("View", "ViewProfile", new { id = item.StudentNo })

                </td>
            </tr>
        }

    </table>
</div>