@model Domain.AcademicSession
 @using Domain.AllEnums
@using Domain.EnumsHelpers

@{
    ViewBag.Title = "EditSession";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="proheader">Edit Session</div>
<div class="site-form theforms">
        
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SessionID)

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status", helper.GetSelectedItemList<Cstatus>())
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FiscalYear_ID, "FiscalYear_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FiscalYear_ID", String.Empty)
              
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
