@model Domain.Guardian

@{
    ViewBag.Title = "EditGuardian";
}

<h2>EditGuardian</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Guardian</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LaststName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LaststName)
                @Html.ValidationMessageFor(model => model.LaststName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherNames, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherNames)
                @Html.ValidationMessageFor(model => model.OtherNames)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Religion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Religion)
                @Html.ValidationMessageFor(model => model.Religion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaritalStatusID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaritalStatusID)
                @Html.ValidationMessageFor(model => model.MaritalStatusID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WeddingAniversary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WeddingAniversary)
                @Html.ValidationMessageFor(model => model.WeddingAniversary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeAddressLine1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeAddressLine1)
                @Html.ValidationMessageFor(model => model.HomeAddressLine1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeAddressLine2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeAddressLine2)
                @Html.ValidationMessageFor(model => model.HomeAddressLine2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryOfResidenceID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountryOfResidenceID)
                @Html.ValidationMessageFor(model => model.CountryOfResidenceID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateOfResidenceID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StateOfResidenceID)
                @Html.ValidationMessageFor(model => model.StateOfResidenceID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LGAOfResidenceID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LGAOfResidenceID)
                @Html.ValidationMessageFor(model => model.LGAOfResidenceID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cityOfResidence, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cityOfResidence)
                @Html.ValidationMessageFor(model => model.cityOfResidence)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Occupation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Occupation)
                @Html.ValidationMessageFor(model => model.Occupation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Eduction, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Eduction)
                @Html.ValidationMessageFor(model => model.Eduction)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Relationship, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Relationship)
                @Html.ValidationMessageFor(model => model.Relationship)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficeAddressLine1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficeAddressLine1)
                @Html.ValidationMessageFor(model => model.OfficeAddressLine1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficeAddressLine2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficeAddressLine2)
                @Html.ValidationMessageFor(model => model.OfficeAddressLine2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficeCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficeCity)
                @Html.ValidationMessageFor(model => model.OfficeCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficeLGAID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficeLGAID)
                @Html.ValidationMessageFor(model => model.OfficeLGAID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficeStateID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficeStateID)
                @Html.ValidationMessageFor(model => model.OfficeStateID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficeCountryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficeCountryID)
                @Html.ValidationMessageFor(model => model.OfficeCountryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficePhone1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficePhone1)
                @Html.ValidationMessageFor(model => model.OfficePhone1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficePhone2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficePhone2)
                @Html.ValidationMessageFor(model => model.OfficePhone2)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
